<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <title>List widget - Test page</title>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div>
    <button id="load-widget-btn" onclick="javascript: window.ListBundle.loadWidget();">Load widget</button>
  </div>
  <h1>Click on an element to add it to the list</h1>
  <%= elements %>
  <script src="<%= assets.chunks.button.entry %>"></script>
  <script>
    ListBundle.widgetFilename = '<%= assets.chunks.widget.entry %>';
  </script>
</body>

</html>
